*{
    margin: 0;
    padding: 0;
}
.ticket-info{
    display: flex;
    gap: 5%;
    background-color:#f3e6ce;
    width: 500px;
    margin: auto;
    
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#moviePoster{
    height: 300px;
    border-radius: 20px;
    margin: 30px;
}

.nametheatre{
   margin-top: 100px;
}